.outputbox
{
	text-align: center;
}

form
{
	text-align: center;
}

.buttons
{
	align-content: center;
}

.outer
{
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.middle
{
	display: table-cell;
	vertical-align: middle;
}

.inner
{
	background:white;
	padding:20px;
	margin:50px auto;
	font-size:2.5em;
	width:700px;
}

img
{
	opacity: 0.5;
	filter:
}

img:hover
{
	opacity: 1;
	filter:
}

body
{
	background-image:url(background.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	backface-visibility: 50;
}

.bg
{

	background-color: black
	opacity: 0.7;

}
