<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="..\static\useall.css">
    <title>Third Question</title>
  </head>
  <body>
    <form action=""  method="post" id="form">
      <input type="text" class="" name=input placeholder="Input"/><br><br>
      <button type="submit" class="">Get Output</button><br>
    </form>
    <div class="outputbox">
      <p style="font-size:25px"><strong>OUTPUT= </strong>{{ input }}</p>
    </div>
    <div class="buttons" align="center">
      <p>
        <a href="second.html"><img src="..\static\back.png" width="100" height="100"></a>
        <a href="fourth.html"><img src="..\static\next.png" width="100" height="100"></a>
      </p>
    </div>
  </body>
</html>